/* Style for right-aligned number input */
body {
  background-color: #c0c0c0;
}
input[type="number"] {
  text-align: right;
}
#weight-calculation,
#price-calculation {
  display: flex;
  justify-content: center;

  align-items: center;
}


#weight-unit,
#fine-unit,
#purity-unit,
#metal-price,
#metal-cost,
#cal-price,
#cal-price{
  display: flex;
  padding: 50px;
  padding-top: 20px;
}


#title,
#options {
  display: flex;
  justify-content: center;
}

#options {
  padding-bottom: 20px;
}
